#primary_nav_wrap
{
	margin-top:15px
;
	position: absolute;
	z-index: 1;
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
;
	z-index: 1;
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
;
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
;
	/* z-index: 100; */
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}


header
{
    background-color:#F8F8F8;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}


#logo
{
    padding: 10px 0px 0px 0px;
    margin: auto;
	text-align:center;
    
}

#logo img
{
    display: block; 
    max-width: 100%;
    min-width: 100px;
    margin: auto;
}


#intro
{
    font-family: 'Lemon', cursive;
    color: #3d3d3d;
    margin: auto;
    width: 60%;
    padding: 10px 0px 10px 0px;
	font-size: 12px;
	margin: auto;
	text-align:center;
}

nav
{
/*     background-color: #4c4c4c; */
	background-color:#F8F8F8;
}

nav ul
{
    margin: 0 auto;
    width: 95%;
    min-width:154px;
}

nav li
{
    background-color:#F8F8F8;
    padding: 10px 50px;
    font-family: 'Lemon', cursive;
	display: inline-block;
  
}

nav li:hover
{
	background-color:#A80000;
    cursor: pointer;
}

nav a
{
	text-decoration: none;
    color:#4c4c4c;
}